<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.intel.setupwizard">
    <permission android:name="com.google.android.car.setupwizard.PARTNER_SETUP" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:theme="@android:style/Theme.NoDisplay" android:label="@string/app_name"  android:directBootAware="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <receiver android:name="com.intel.car.setupwizard.PartnerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.car.setupwizard.action.PARTNER_CUSTOMIZATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
